.modal.fade#editProfileModal{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "editProfileModalLabel", "aria-hidden" => "true"}
  .modal-dialog{:role => "document"}
    .modal-content
      = simple_form_for @profile, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' }} do |form|
        .modal-header
          %h5.modal-title#addProfileModalLabel Edit&nbsp;
          = link_to 'Profile', url_for(action: :index, controller: :products, profile_id: @profile.id), method: :get, style: "font-size: 1.25rem;"
          %button.close{:type => "button", :data => {:dismiss => "modal"}, "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
        .modal-body

          = form.input :profile_name, required: true, label: "Profile name"
        .modal-footer
          .container
            .row
              .col-12.col-sm-4
                %button.btn.btn-outline-secondary.btn-block{:type => "button", :data => {:dismiss => "modal"}, :style => "margin-top: 2px; margin-bottom: 2px;"} Close
              .col-12.col-sm-4
                = link_to 'Delete', url_for(action: :destroy, controller: :profiles, id: @profile.id), method: :delete, data: {confirm: "Are you sure you want to delete \"#{@profile.profile_name}\" and all products inside it?"}, class: "btn btn-outline-danger btn-block", style: "margin-top: 2px; margin-bottom: 2px;"
              .col-12.col-sm-4
                = form.button :submit, "Update", class: 'btn btn-outline-dark btn-block', style: "margin-top: 2px; margin-bottom: 2px;"
