.modal.fade#editProductModal{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "editProductModalLabel", "aria-hidden" => "true"}
  .modal-dialog{:role => "document"}
    .modal-content
      = simple_form_for Product.new, :url => {:action => "update_info", :controller => "products"}, method: :patch, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' }} do |form|
        .modal-header
          %h5.modal-title#editProductModalLabel
            %span.badge.badge-dark #{@product.name}
          %button.close{:type => "button", :data => {:dismiss => "modal"}, "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
        .modal-body
          = form.input :name, required: true, label: "Product name", :input_html => {:value => "#{@product.name}"}
          = form.input :price, required: true, label: "Product price", :as => "decimal", :input_html => {:value => "#{@product.price}"}
          = form.input :url, :as => :url, label: "Product URL", :input_html => {:value => "#{@product.url}"}
          = form.input :profile_id, :as => :hidden, :input_html => { :value => "#{@profile.id}"}
          = form.input :product_id, :as => :hidden, :input_html => { :value => "#{@product.id}"}
        .modal-footer
          %button.btn.btn-outline-secondary{:type => "button", :data => {:dismiss => "modal"}} Close
          = form.button :submit, "Update Product", class: 'btn btn-outline-dark'
